html, body {
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0; 
	background:#fff;
}

html {
	overflow:hidden;
}

body {
	background-image: url(../images/background2.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
}