body{
	background-color:#404040;
	color:white;
	font-family:"Trebuchet MS";
}

.topbar{
	width:100%;
	min-width:500px;
	height:40px;
	background-color:#606060;
}

.topbar img{
	position:relative;
	left:50px;
}

.litebar{
	width:100%;
	min-width:500px;
	height:5px;
	background-color:#A0A0A0;
	margin-bottom:10px;
}

.header{
	width:50%;
	min-width:500px;
	margin:auto;
	padding:10px;
	text-align:center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color:#606060;
}

.content{
	width:50%;
	min-width:500px;
	max-height:70%;
	margin:auto;
	margin-top:10px;
	padding:10px;
	text-align:justify;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;	
	background-color:#606060;
}

.footer{
	width:50%;
	min-width:500px;
	margin:auto;
	margin-top:10px;
	padding:10px;
	border-radius:5px;
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color:#606060;
	text-align:center;
}

